@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@using SignalR.DtoLayer.MenuTableDtos
@model List<ResultMenuTableDto>
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">MenuTable Panel</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title"> MenuTable List</div>
						<div><a asp-action="TableListByStatus"> Table List By Status</a></div>
					</div>
					<div class="card-body">

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Name</th>
									<th scope="col">Status</th>


									<th scope="col">Update</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Id</td>
										<td>@item.Name</td>
										@if (item.Status)
										{
											<td><a asp-action="ChangeMenuTableStatus" asp-route-id="@item.Id" class="badge badge-success">@item.Status</a></td>
										}
										else
										{
											<td><a asp-action="ChangeMenuTableStatus" asp-route-id="@item.Id" class="badge badge-danger">@item.Status</a></td>
										}



										<td><a asp-action="UpdateMenuTable" asp-route-id="@item.Id" class="btn btn-outline-success">Update</a></td>
										<td><a asp-action="DeleteMenuTable" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
									</tr>
								}


							</tbody>
						</table>

						<td><a asp-action="CreateMenuTable" class="btn btn-outline-primary">New MenuTable</a></td>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>