@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@using SignalRWebUI.Dtos.SocialMediaDtos
@model List<ResultSocialMediaDto>
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">SocialMedia Panel</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title"> SocialMedia List</div>
					</div>
					<div class="card-body">

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Title</th>
									<th scope="col">Url</th>
									<th scope="col">Icon</th>

									<th scope="col">Update</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Id</td>
										<td>@item.Url</td>
										<td>@item.Icon</td>

										<td><a asp-action="UpdateSocialMedia" asp-route-id="@item.Id" class="btn btn-outline-success">Update</a></td>
										<td><a asp-action="DeleteSocialMedia" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
									</tr>
								}


							</tbody>
						</table>

						<td><a asp-action="CreateSocialMedia" class="btn btn-outline-primary">New Social Media</a></td>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>