@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@using SignalRWebUI.Dtos.ContactDtos
@model List<ResultContactDto>
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Contact Panel</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title"> Contact List (only 1 item)</div>
					</div>
					<div class="card-body">

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Location</th>
									<th scope="col">Phone</th>
									<th scope="col">Mail</th>
									<th scope="col">Footer Description</th>
									<th scope="col">Update</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Id</td>
										<td>@item.Location</td>
										<td>@item.Phone</td>
										<td>@item.Mail</td>
										<td>@item.FooterDesc</td>
										<td><a asp-action="UpdateContact" asp-route-id="@item.Id" class="btn btn-outline-success">Update</a></td>
										<td><a asp-action="DeleteContact" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
									</tr>
								}


							</tbody>
						</table>

						<td><a asp-action="CreateContact" class="btn btn-outline-primary">New Contact</a></td>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>